# LaTeX auxiliary files
*.aux
*.log
*.nav
*.out
*.toc
*.snm
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg
*.idx
*.ind
*.ilg
*.lof
*.lot
*.tdo
*.bcf
*.run.xml

# Temporary files
*~
.DS_Store
*.tmp
*.temp

# Working directories and symlinks
working_directory/
academic/

# Compiled outputs (except main.pdf which we want to track)
*.dvi
*.ps

# SVG inkscape auxiliary files
svg-inkscape/*.pdf_tex

# Log files in subdirectories
images/texput.log